{% extends 'base.html' %}

{% block content %}
<h1 class="mt-3">Movie Detail</h1>


<div class="card container mt-4" style="width: 70rem;">
  <div class="card-body row">
    <h1 class="card-title col-12">{{ movie.title }}</h1>
    <p class="card-text col-12">{{ movie.overview }}</p>
    <p class="card-text col-12">{{ movie.poster_path }}</p>
    <a href="{% url 'movies:edit' movie.pk %}" class="btn btn-primary m-2 col-2">Edit</a>
    <form action="{% url 'movies:delete' movie.pk %}" class="m-2 col-5", method="POST">
      {% csrf_token %}
      <button class="btn btn-primary col-5">Delete</button>
    </form>
  </div>
</div>
{% endblock %}